<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('../partials/head'); %>


    <script>
      var role_list = [];

      $(document).ready(function () {

        load_data();
        load_user_roles();
        

        // *******************************************************************************************
        // LOAD TABLE DATA
        // *******************************************************************************************
        function load_data() {
          $.ajax({
            url: "/api/user",
            method: "GET",
            dataType: "JSON",
            success: function (json) {
              var html = '';
              const list = json.data;

              list.forEach(element => {
                const tel = (element.telephone_number == null) ? "k.A." : element.telephone_number;
                const email = (element.email_address == null) ? "k.A." : element.email_address;

                const street = (element.street != null) ? element.street: "";
                const house_number = (element.house_number != null) ? element.house_number: "";
                const zip_code = (element.zip_code != null) ? element.zip_code: "";
                const city = (element.city != null) ? element.city: "";
                const country = (element.country != null) ? element.country : "";

                html += `
                  <tr>
                    <td>${element.user_id}</td>
                    <td>${element.first_name} ${element.last_name}</td>
                    <td>T: ${tel}<br>E: ${email}</td>
                    <td>${street} ${house_number}<br>${zip_code} ${city}<br>${country}</td>
                    <td>
                      <button type="button" class="btn btn-warning btn-sm edit" data-id="${element.user_id}">Edit</button>&nbsp;
                      <button type="button" class="btn btn-danger btn-sm delete" data-id="${element.user_id}">Delete</button>
                    </td>
                  </tr>
            `;
              });

              $('#user_table tbody').html(html);
            }
          });
        }

        // *******************************************************************************************
        // LOAD USER ROLES
        // *******************************************************************************************
        function load_user_roles() {
          $.ajax({
            url: "/api/role",
            method: "GET",
            dataType: "JSON",
            success: function (json) {
              var html = '';
              html += `<option value="">Please select a role...</option>`;
              const list = json.data;

              list.forEach(element => {
                role_list.push({ role_id: element.role_id, role: element.role });
                html += `<option value="${element.role_id}">${element.role}</option>`;
              });
              $('#role_id').html(html);
            }
          });
        }




        // *******************************************************************************************
        // SUBMIT-BUTTON CLICK IM MODALEN DIALOG
        // *******************************************************************************************
        $('#modal_form').on('submit', function (event) {
          // prevents the button events to not get explicitly handled
          event.preventDefault();
          

          // get action value ("Edit" or "Add")
          const action = $('#action').val();
          // read court_id from field
          const id = $('#user_id').val();
          // set url for "Edit" or "Add"
          const req_url = (action == "Edit") ? `/api/user/${id}` : `/api/user`;

          console.log("action = " + action);
          console.log("user_id = " + id);
          console.log("url = " + req_url);

          console.log("data = " + $('#modal_form').serialize());
          console.log("role_id = " + $('#role_id').val());

          $.ajax({
            url: req_url,
            method: "POST",
            data: $('#modal_form').serialize(),
            dataType: "JSON",
            // disable button [Add] / [Edit]
            beforeSend: function () {
              $('#action_button').attr('disabled', 'disabled');
            },
            success: function (json) {
              // enable button [Add] / [Edit] again
              $('#action_button').attr('disabled', false);
              // show message above table
              showAlert(json.message);
              // close modal
              $('#action_modal').modal('hide');
              // reload table data
              load_data();
            }
          });

        });



        // *******************************************************************************************
        // ADD NEW COURT
        // *******************************************************************************************
        $('#add_data').click(function () {
          // clear all fields
          $('#modal_form')[0].reset();

          $('#count_of_false_logins').val("0");
          $('#role_id').val("5");


          // 
          $('#action_button').attr('disabled', false);
          // set text in title
          $('#dynamic_modal_title').text('Add New User');
          // set action to "Add"
          $('#action').val('Add');
          // set button text to "Add"
          $('#action_button').text('Add');
          // show modal window
          $('#action_modal').modal('show');
        });

        // *******************************************************************************************
        // EDIT COURT
        // *******************************************************************************************
        $(document).on('click', '.edit', function () {
          // get id from button attribute "data-id"
          var id = $(this).data('id');

          $('#action_button').attr('disabled', false);
          // set text in title
          $('#dynamic_modal_title').text('Edit User');
          // set action to "Edit"
          $('#action').val('Edit');
          // set button text to "Add"
          $('#action_button').text('Edit');
          // show modal window
          $('#action_modal').modal('show');

          // load court from database and set fields
          $.ajax({
            url: `/api/user/${id}`,
            method: "GET",
            dataType: "JSON",
            success: function (json) {
              //console.log(json);
              $('#user_id').val(json.data.user_id);
              $('#email_address').val(json.data.email_address);
              $('#first_name').val(json.data.first_name);
              $('#last_name').val(json.data.last_name);
              $('#password').val(json.data.password);
              $('#count_of_false_logins').val(json.data.count_of_false_logins);

              $('#blocked_date').val(json.data.blocked_date);
              $('#member_date').val(json.data.member_date);
              $('#telephone_number').val(json.data.telephone_number);
              $('#role_id').val(json.data.role_id);
              $('#street').val(json.data.street);
              $('#house_number').val(json.data.house_number);
              $('#zip_code').val(json.data.zip_code);
              $('#city').val(json.data.city);
              $('#country').val(json.data.country);
            }
          });

        });



        // *******************************************************************************************
        // DELETE COURT
        // *******************************************************************************************
        $(document).on('click', '.delete', function () {
          // get id from button attribute "data-id"
          var id = $(this).data('id');

          if (confirm("Are you sure you want to delete this data?")) {
            $.ajax({
              url: `/api/user/${id}`,
              method: "DELETE",
              dataType: "JSON",

              success: function (json) {
                // Show message on top of page
                showAlert(json.message);
                // reload table data
                load_data();
              }
            });
          }
        });


        // *******************************************************************************************
        // SHOW ALERT
        // *******************************************************************************************
        function showAlert(message) {
          var id = new Date().getUTCMilliseconds();
          const alert = `<div class="alert alert-success alert-dismissible fade show" role="alert" id="${id}">${message}</div>`;
          $('#message').html(alert);
          setTimeout(function () {
            $(`#${id}`).alert('close');
          }, 5000);
        }

      });
    </script>

</head>

<body>

  <header>
    <%- include('../partials/header', {variant: 'compact' }); %>
  </header>

  <div class="container">

    <h1 class="mt-4 mb-4 text-center text-primary"><b>List of all Users</b></h1>

    <span id="message"></span>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-sm-9">Users</div>
          <div class="col col-sm-3">
            <button type="button" id="add_data" class="btn btn-success btn-sm float-end">Add New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered" id="user_table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>


<!-- ******************************************************************************************* -->
<!--                             M O D A L   D I A L O G   U S E R                               -->
<!-- ******************************************************************************************* -->
<div class="modal" tabindex="-1" id="action_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" id="modal_form">
        <div class="modal-header">
          <h5 class="modal-title" id="dynamic_modal_title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- first name -->
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" />
          </div>

          <!-- last name -->
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" />
          </div>

          <!-- email address -->
          <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input type="email" name="email_address" id="email_address" class="form-control" />
          </div>

          <!-- telephone number -->
          <div class="mb-3">
            <label class="form-label">Telephone Number</label>
            <input type="text" name="telephone_number" id="telephone_number" class="form-control" />
          </div>

          <!-- address - street -->
          <div class="mb-3">
            <label class="form-label">Street</label>
            <input type="text" name="street" id="street" class="form-control" />
          </div>

          <!-- address - house number -->
          <div class="mb-3">
            <label class="form-label">House Number</label>
            <input type="text" name="house_number" id="house_number" class="form-control" />
          </div>

          <!-- address - zip code -->
          <div class="mb-3">
            <label class="form-label">Zip Code</label>
            <input type="text" name="zip_code" id="zip_code" class="form-control" />
          </div>

          <!-- address - city -->
          <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" name="city" id="city" class="form-control" />
          </div>

          <!-- address - country -->
          <div class="mb-3">
            <label class="form-label">Country</label>
            <input type="text" name="country" id="country" class="form-control" />
          </div>

          <!-- member_date -->
          <div class="mb-3">
            <label class="form-label">member_date</label>
            <input type="date" name="member_date" id="member_date" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">User Role</label>
            <select name="role_id" id="role_id" class="form-control">
              <option value="1">One</option>
              <option value="2" selected>Two</option>
            </select>
          </div>
          <!--
******************************************************************
N O T E
******************************************************************
Die Felder "password", "count_of_false_logins" und "blocked_date" 
sollten separat behandelt werden.

in einer Seite (z.B. change_password) behandelt werden.

Im Falles eines blockierten Benutzers könnten wir auf dieser Seite 
einen Hinweis erstellen, das es X ungültige Anmeldeversuche gab und
der Account deshalb seit XX.XX.XXXX gesperrt ist. 
Und darunter ein Button mit "entsperren" (nur für Administratoren!)
-->

        </div>

        <div class="modal-footer">
          <input type="hidden" name="user_id" id="user_id" />
          <input type="hidden" name="password" id="password" />
          <input type="hidden" name="count_of_false_logins" id="count_of_false_logins" />
          <input type="hidden" name="blocked_date" id="blocked_date" />
          <input type="hidden" name="action" id="action" value="Add" />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="action_button">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>