<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Reservierungsseite für Vereine </title>
  <link rel="stylesheet" href="stylesheet_projekt_Stubits test - Kopie.css">
  <link rel="stylesheet" href="dist/calendar.js.css" />
  <script src="dist/calendar.js"></script>
  <script src="https://kit.fontawesome.com/24eb8f8898.js" crossorigin="anonymous"></script>

</head>

<body>

  <header class="mainHeader" id="Start">
    <img src="Logo.PNG" alt="Hier sollte ein Logo Stehen">
    <flexitem></flexitem>
    <div class="mainHeader1">
      <h1>Reservierungssystem für Vereine</h1>
      <p> Platzhalter für Vereinsname </p>
    </div>
    <flexitem>
      <i class="fa-sharp fa-solid fa-user"></i>
      <p>Max Mustermann</p>
    </flexitem>
    <img src="Logo.PNG" alt="Hier sollte ein Logo Stehen">
    
  </header>

  <nav class="topnav" id="Top">
    <a class="active" id= accountBtn  href="#Account">Account</a>
    <a id= reservationBtn href="#Reservierung">Reservierung</a>
    <a id= "contactBtn"href="#Kontakt">Kontakt</a>

  </nav>

  <section class="mainPart" id="Account">

    <article>
      <p>Test</p>
    </article>
  </section>
</body>
</html>

 