@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

body {
  font-size: 120%;
  width: auto;
  height: 1080px;
  font-family: 'Mulish', sans-serif;    
  background-color: white;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.mainHeader {
  height: 150px;
  color: white;
  background-color: rgb(70, 95, 153);
  margin: -8px -8px 0 -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}
        .mainHeader1 {
          height: 150px;
          width: 640px;
          display:flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
        }
        .mainHeader2 {
          height: 150px;
          width:640px;
          display:flex;
          justify-content: space-around;
          align-items: center;
          flex-direction:column;
        }
        .mainHeader3 {
          height: 150px;
          width: 640px;
          display:flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
        }
        
        .mainHeader1 img{
          height: 100px;
          background-color:none;
          border-radius: 4px;
          border: white;
          color: white;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          margin-top: 8px;
          }

        .mainHeader3 img{
        height: 100px;
        background-color:none;
        border-radius: 4px;
        border: white;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top: 8px;
        }

        .mainHeader3 button {
          background: rgb(156, 197, 81);
          padding: 10px;
          border: none;
          width: 250px;
          height: 65px;
          border-radius: 5px;
          font-size: 18px;
          color: white;
          box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
          cursor: pointer;
        }
      
        .mainHeader button:hover {
          box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
        }

header {
  text-align: center; 
  color: rgb(56, 99, 155);
}
header h1 {
  font-weight: bolder;
}
h1 {
  margin-bottom: 0;
}
h1 + p {
  margin-bottom: 25px;
  font-weight: bold;
}

.mainPart { 
  display: flex;
  margin: 0px -8px 0 -20px;
  background-image: url(tennis.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 930px;  
  justify-content: center;
  align-items: center;
}

.mainPart article {
  display: flex;
  color: rgb(70, 95, 153);
  background-image: url(Logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800px;
  border-radius: 5px;
}

.mainPart flexitem {
  width: 400px;
}

article p {
  text-align: center;
  font-weight: bolder;
  color: rgb(70, 95, 153);
  height: 8px;
}

.loginForm {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 800px;
  border-radius: 5px;
}

.loginForm p {
  text-align: center;
  font-weight: bolder;
  color: rgb(70, 95, 153);
  height: 8px;
}

h2 {
  text-align: center;
  font-weight: bolder;
}

.form__email, .form__password {
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #CAD3DB;
  width: 280px;
  height: 8px;
  font-size: 18px;
  color: #0F121F;
  text-align: center;
}

.form__email:focus {
  outline: 1px solid #3D9FFF;
}

.form__button {
  background: rgb(56, 99, 155);
  padding: 10px;
  border: none;
  width: 244px;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
  cursor: pointer;
}

.form__button:hover {
  box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
}

.standardFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.standardFooter ul{
  margin-top:-15px;
}

@media screen and (max-width: 810px) {
  body {
    display: flex;
    background-color: rgb(70, 95, 153);
    width: auto;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

 .mainHeader h1{
        display:block;
        width: auto;
      }
      .mainHeader1 flexitem{
        display:none;
      }
      .mainHeader1 {
        width: auto;
      }
      .mainHeader2 {
        width: auto;
      }
      .mainHeader2 h1{
        font-size: 180%;
      }
      .mainHeader3 {
        width: auto;
      }
      .mainHeader3 flexitem{
        display:none;
        width: auto;
      }
      .mainHeader3 img{
        display:none;
      }

      .mainHeader {
        display:flex;
        float: none;
        width: auto;
        flex-direction: column;
        justify-content: center;
        height:auto;
      }

  #Login {
    background-image: none;
    background-color: rgb(70, 95, 153);
    width: auto;
    height: auto;
  }

  .loginForm{
    width: auto;
  }

  #Login article {
    background-image: none;
    background-color: rgb(70, 95, 153);
    width: auto;
    height:auto;
  }

  .form__button{
    background: rgb(156, 197, 81);
    padding: 10px;
    border: none;
    width: 250px;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
    cursor: pointer;
  }
  }


}
