<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Reservierungsseite für Vereine </title>
  <link rel="stylesheet" href="../stylesheet_projekt_Stubits%20test%20-%20Kopie.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <header class="mainHeader" id="Start">
    <img src="Logo.PNG" alt="Hier sollte ein Logo Stehen">
    <flexitem></flexitem>
    <div class="mainHeader1">
      <h1>Reservierungssystem für Vereine</h1>
      <p> Platzhalter für Vereinsname </p>
    </div>
    <flexitem></flexitem>
    <img src="Logo.PNG" alt="Hier sollte ein Logo Stehen">
  </header>

  <h2>Login</h2>

  <section class="mainPart" id="Login">

    <article>
      <form action="/login" method="post">
      <p>EMAIL:</p>
      <input type="email" name="email_address" id="email_address" class="form__email" placeholder="E-Mail-Adresse" />
      <p>PASSWORT:</p>
      <input type="password" name="password" id="password" class="form__password" placeholder="Passswort" />
      <p></p>
      <button type="submit" class="form__button">Login</button>
      </form>
      <p></p>
      <a href="register"><button class="form__button">Erstelle einen Gast-Account</button></a>

    </article>
  </section>
  <span>

    <% var errorMessage;
    if (errorMessage) { %>
      <p style="color: red;"><%= errorMessage %></p>
    <% } %>
  </span>

</body>
</html>