* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; /* Add margin to counteract box-sizing */
}

.column {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form {
    max-width: 600px; /* Adjust the maximum width of the form */
    margin: 0 auto; /* Center the form */
}

.topnav {
    overflow: hidden;
    background-color: #8eb967;
}

.topnav a {
    float: left;
    color: #4863a2;
    text-align: center;
    padding: 15px 13.5%;
    text-decoration: none;
    font-size: 17px;
    background-color: #8eb967;
}

.topnav a:hover {
    background-color: #64991c;
    color: #4863a2;
}

.topnav a.active {
    background-color: #64991c;
    color: #4863a2;
}
