<div class="container">
    <footer class="standardFooter">
      <p class="text-center text-body-secondary border-top">Copyright &copy; 2024, HTL Pinkafeld</p>
      <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item"><a href="/impressum" class="nav-link px-2 text-body-secondary">Impressum</a></li>
        <li class="nav-item"><a href="/dsgvo" class="nav-link px-2 text-body-secondary">DSGVO</a></li>
      </ul>

    </footer>
</div>