<div class="container">

  <nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a>
        </li>
        <li class="nav-item"><a href="/usermain" class="nav-link link-body-emphasis px-2">PrototypSeite</a></li>
        <li class="nav-item"><a href="/user" class="nav-link link-body-emphasis px-2">Users</a></li>
        <li class="nav-item"><a href="/role" class="nav-link link-body-emphasis px-2">Roles</a></li>
        <li class="nav-item"><a href="/court" class="nav-link link-body-emphasis px-2">Courts</a></li>
        <li class="nav-item"><a href="/court_reservation" class="nav-link link-body-emphasis px-2">Court
            Reservations</a>
            <li class="nav-item"><a href="/reservation_type" class="nav-link link-body-emphasis px-2">Court
              Reservations</a>
            <li class="nav-item"><a href="/reservierung" class="nav-link link-body-emphasis px-2">AdminPage</a></li>
            <li class="nav-item"><a href="/benutzerhauptseite" class="nav-link link-body-emphasis px-2">benutzerhauptseite</a></li>
            <li class="nav-item"><a href="/useraccount" class="nav-link link-body-emphasis px-2">UserAccountSeite</a></li>
            <li class="nav-item"><a href="/userkontaktseite" class="nav-link link-body-emphasis px-2">UserKontaktSeite</a></li>
        </li>

        <!-- <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis px-2">About</a></li> -->
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">Login</a></li>
        <li class="nav-item"><a href="/register" class="nav-link link-body-emphasis px-2">Register</a></li>
      </ul>
    </div>
  </nav>
  
</div>