<div class="container">
  <footer class="standardFooter">
    <p class="copyright">Copyright &copy; 2024, HTL Pinkafeld</p>
    <ul class="footerNav">
      <li class="nav-item"><a href="/impressum">Impressum</a></li>
      <li class="nav-item"><a href="/dsgvo">DSGVO</a></li>
    </ul>

  </footer>
</div>