<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register User</title>
    <link rel="stylesheet" href="/stylesheets/add.css">
</head>

<body>
    <form action="/add" method="post">
        <label for="firstName">First Name</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="lastName">Last Name</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="email">Email</label>
        <input type="email" id="email_address" name="email_address" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="phone-number">Phone Number</label>
        <input type="tel" id="telephone_number-number" name="telephone_number" required>

        <label for="house-number">House Number</label>
        <input type="text" id="house-number" name="house_number" required>

        <label for="zip-code">Zip Code</label>
        <input type="text" id="zip-code" name="zip_code" required>

        <label for="town">Town</label>
        <input type="text" id="town" name="town" required>

        <label for="country">Country</label>
        <input type="text" id="country" name="country" required>
        <input type="submit" value="Register">
    </form>

</body>

</html>