<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reservierungsseite für Vereine</title>

    <!-link rel="stylesheet" href="dist/calendar.js.css"--->
    <!-script src="dist/calendar.js"-->
    <!-script src="https://kit.fontawesome.com/24eb8f8898.js" crossorigin="anonymous"-->



</head>

<body>
<div class="row">
    <div class="column">
        <img src="/media/logo.png" width="150" height="150"="Hier sollte ein Logo Stehen" />
    </div>
    <div class="columnText">
        <h1>Reservierungssystem für Vereine</h1>
        <p>Platzhalter für Vereinsname</p>
        <p>Admin</p>
    </div>
    <div class="column">
        <img src="/media/logo.png" width="150" height="150"="Hier sollte ein Logo Stehen" />
    </div>
</div>

<div class="topnav">
    <a class="active" href="index.ejs">Vereinverwaltung</a>
    <a id="reservationBtn" href="#Reservierung">Reservierung</a>
    <a  id="contactBtn" href="index.ejs">Benutzerverwaltung</a>
</div>

<section class="mainPart" id="Account">



</body>

</html>