/* Add this CSS for Register User page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #4863a2;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #4863a2;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #8eb967;
    color: #4863a2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #64991c;
}

/* Optional: Style the form for smaller screens */
@media (max-width: 600px) {
    form {
        max-width: 100%;
    }
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #4863a2;
    text-decoration: none;
    padding-bottom: 15px;
}

a:hover {
    text-decoration: underline;
}

